node_modules/@angular/core/esm2020/src/change_detection/differs/default_iterable_differ.mjs
node_modules/@angular/core/esm2020/src/change_detection/differs/default_keyvalue_differ.mjs
node_modules/@angular/core/esm2020/src/change_detection/differs/iterable_differs.mjs
node_modules/@angular/core/esm2020/src/change_detection/differs/keyvalue_differs.mjs
node_modules/@angular/core/esm2020/src/reflection/platform_reflection_capabilities.mjs
node_modules/@angular/core/esm2020/src/render3/view_engine_compatibility_prebound.mjs
node_modules/@angular/core/esm2020/src/render3/features/copy_definition_feature.mjs
node_modules/@angular/core/esm2020/src/render3/features/inherit_definition_feature.mjs
node_modules/@angular/core/esm2020/src/render3/instructions/attribute_interpolation.mjs
node_modules/@angular/core/esm2020/src/render3/instructions/class_map_interpolation.mjs
node_modules/@angular/core/esm2020/src/render3/instructions/i18n_icu_container_visitor.mjs
node_modules/@angular/core/esm2020/src/render3/instructions/property_interpolation.mjs
node_modules/@angular/core/esm2020/src/render3/instructions/style_map_interpolation.mjs
node_modules/@angular/core/esm2020/src/render3/instructions/style_prop_interpolation.mjs
node_modules/@angular/core/schematics/migrations/router-link-empty-expression/analyze_template.d.ts
node_modules/@angular/core/schematics/migrations/router-link-empty-expression/analyze_template.js
node_modules/@angular/core/schematics/migrations/router-link-empty-expression/index.d.ts
node_modules/@angular/core/schematics/migrations/router-link-empty-expression/index.js
node_modules/angular-in-memory-web-api/esm2020/src/http-client-in-memory-web-api-module.mjs
node_modules/rxjs/dist/types/internal/scheduled/scheduleReadableStreamLike.d.ts.map
node_modules/rxjs/dist/types/internal/scheduler/performanceTimestampProvider.d.ts.map
